.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    z-index: 1;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s;
}

.modal__content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.2s;
}

.modal__content.active {
    transform: scale(1);
}

.close__button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.modal__content form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

.modal__content form label {
    display: flex;
    flex-direction: column;
}

.modal__content form label {
    font-size: 24px;
    font-family: 'Finlandica', serif;
}

.modal__content form input[type=text], input[type=password] {
    height: 33px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #F1F1F1;
}

.modal__content form input[type=submit] {
    min-width: 307px;
    background-color: #F86F03;
    border: none;
    border-radius: 52px;
    font-size: 32px;
    font-family: 'Finlandica', serif;
    color: #fff;
    margin-top: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.modal__content form input[type=submit]:hover {
    color: #a8a8a8;
    background-color: #c55806;
}